@charset "ISO-8859-1";

.container {
    width: 25%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quickBorder {
    border: 2px solid black;
    padding: 10px;
}

table {
    border-bottom: 1px solid green;
}

th {
    font-weight: bold;
}